<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script defer src="/scripts/menu.js"></script>
    <link rel="stylesheet" href="/styles/menu.css">

    <title>Menu component</title>
</head>
<body>
    <header class="header-component">
        <h2 class="header-component__logo">ALVA</h2>
        <div class="header-component__open-burger-menu">
            <img src="/img/burger.png" alt="Ham" class="burger">
        </div>
        <div class="header-component__window-menu">
            <p class="image-container">
                <img src="/img/x for close.png" alt="Close" class="cross-close">
            </p>
            <div class="burger-menu__opened">
                <a href="/portfolio.html" class="menu-page__text">Portfolio</a>
                <a href="/services.html" class="menu-page__text">Services</a>
                <a href="/contact.html" class="menu-page__text">Contact</a>
            </div>
        </div>
        <!-- this just appears on pc -->
        <section class="desktop-type">
            <div class="header-component__pc-menu">
                <a href="/portfolio.html" class="menu-option">Portfolio</a>
                <a href="/services.html" class="menu-option">Services</a>
                <a href="/contact.html" class="menu-option">Contact</a>
            </div>
        </section>
    </header>
</body>
</html>