@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
* {
    box-sizing: border-box;
}
body {
    font-family: 'Montserrat', sans-serif;
}
.header-component {
    border: solid 3px #000;
    background-color: #000;
}
@media (min-width: 960px) {
    .header-component, .main-page__conatainer, body {
        border: none;
        background-color: none;
        background: linear-gradient(107.17deg, #408195 45.35%, rgba(0, 210, 135, 0.8) 70.73%);
    }
    body .contact-container {
        background: linear-gradient(107.17deg, #408195 39.35%, rgba(0, 210, 135, 0.8) 60.73%);
    }
}
